{% comment %}
{%- assign arrays = site.documents | concat: site.pages | map: 'tags' -%}
{%- assign tags = '' | split: ' ' -%}
{%- for array in arrays -%}
{%- if array.first -%}
{%- assign tags = tags | concat: array -%}
{%- endif -%}
{%- endfor -%}
{%- assign tags = tags | compact | uniq | sort -%}

{% endcomment %}

tags:{{ site.tags | jsonify }}
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: -10000 }}###{{ tag[0] | replace: ' ', '##' }}###{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sorted_tags = tags | split: ' ' | sort %}
<form class="controls">
  <legend>{{ t.tags }}</legend>
  <div class="form-group">
    {% for sorted_tag in sorted_tags %}
        {% assign items = sorted_tag | split: '###' %}
        {% assign tag = items[1] | replace: '##', ' ' %}
        {% assign count = items[2] | plus: 0 %}
        {% if count > 5 %}
            {% assign size = 5 %}
        {% else %}
            {% assign size = count %}
        {% endif %}
        {% comment %}
        <span class="tag-size-{{ size }}">
            <a class="tag-link" href="/blog/tag/{{ tag | slugify }}" rel="tag">{{ tag }}</a> ({{ count }})
        </span>
        {% endcomment %}
        <div class="btn-group-toggle d-inline-block tag-size-{{ size }}" data-toggle="buttons">
          <label class="btn btn-secondary px-1 py-0" style="font-size: {{ tag | last | size | times: 100 | divided_by: tags.size | plus: 70 }}%">
            <input type="checkbox" value=".tag-{{ tag | first }}" autocomplete="off" />
            {{ tag }}
          </label>
        </div>
    {% endfor %}
  </div>
  <input type="reset" value="{{ t.reset_filters }}" class="btn btn-secondary mt-3" />
</form>
