
{%- assign posts = site.pages | where_exp: 'item', 'item.nav_item.group == "primary-nav"' | where: 'lang', lang | sort: 'nav_item.position' -%}

{%- comment -%}
{%- if posts.size == 0 and site.header_pages and site.header_pages.size != 0 -%}
{%- assign posts = site.pages | where_exp: 'item', 'site.header_pages contains item.path' -%}
{%- endif -%}
{%- endcomment -%}

{%- if posts.size > 0 -%}
<ul class="nav nav-pills flex-column">
  {%- include bootstrap-components/nav-items.html posts=posts -%}
</ul>
{%- endif -%}
