
{%- assign docs = '' | plit: ' ' -%}
{%- assign collections_strings = '' | split: ' ' -%}

{%- if include.collection_labels -%}
{%- assign collection_labels = include.collection_labels -%}
{%- else -%}
{%- assign collection_labels = 'pages authors' | split: ' ' -%}
{%- assign collection_labels = site.collections | map: 'label' | concat: collection_labels -%}
{%- endif -%}


{%- for label in collection_labels -%}

{%- assign docs = site[label] -%}

{%- capture collection_strings -%}
{%- include helpers/lunr-store.html docs=docs -%}
{%- endcapture -%}
{%- assign collection_strings = collection_strings | remove_first: "[" | remove_last: "]" -%}

{%- if collection_strings.size !=0 -%}
{%- assign collections_strings = collections_strings | push: collection_strings -%}
{%- endif -%}

{%- endfor -%}


{%- if collections_strings.size !=0 -%}
{{ collections_strings | join: ',' | prepend: '[' | append: ']' }}
{%- endif -%}
