{%- comment -%}
{%- if include.categories.first -%}
{%- assign categories = include.categories -%}
{%- elsif page.categories.first -%}
{%- assign categories = page.categories -%}
{%- else -%}
{%- assign categories = '' | split: ' ' -%}
{%- endif -%}
{%- assign categories = categories | compact | uniq -%}

{%- if include.tags.first -%}
{%- assign tags = include.tags -%}
{%- elsif page.tags.first -%}
{%- assign tags = page.tags -%}
{%- else -%}
{%- assign tags = '' | split: ' ' -%}
{%- endif -%}
{%- assign tags = tags | compact | uniq -%}
{%- endcomment -%}

{%- assign array = '' | split: ' ' -%}
{%- assign categories = include.categories | default: page.categories | default: array | compact | uniq -%}
{%- assign tags = include.tags | default: page.tags | default: array | compact | uniq -%}
{%- assign type = include.type | default: page.collection | default: 'pages' -%}
{%- assign keys = 'collection categories' | split: ' ' -%}
{%- assign posts = array -%}

{%- if site[type] -%}
{%- assign docs = site[type] -%}
{%- elsif site.data[type] -%}
{%- assign docs = site.data[type] -%}
{%- endif -%}
type:{{type}}
docs:{{docs.size}}
categories:{{categories.size}}
tags:{{tags.size}}
{%- if docs and docs.size > 0 -%}
{%- for post in docs -%}

{%- comment -%}
{%- assign match_categories = true -%}
{%- if categories.size > 0 -%}
{%- for category in categories -%}
{%- unless post.categories.size > 0 and post.categories contains category -%}
{%- assign match_categories = false -%}
{%- break -%}
{%- endunless -%}
{%- endfor -%}
{%- endif -%}

{%- assign match_tags = true -%}
{%- if tags.size > 0 -%}
{%- assign match_tags = false -%}
{%- for tag in tags -%}
{%- if post.tags and post.tags contains tag -%}
{%- assign match_tags = true -%}
{%- endif -%}
{%- endfor -%}
{%- endif -%}

match:{{match_categories}}/{{match_tags}}
{%- if match_categories != false and match_tags != false and post.path != page.path and post.title -%}
{%- assign posts = posts | push: post -%}
{%- endif -%}
{%- endcomment -%}

{%- comment -%}
{%- assign post.rank = 0 -%}

{%- for category in categories -%}
{%- if post.categories contains category or post.category == category -%}
{%- assign post.rank = post.rank | plus: 5 -%}
{%- endif -%}
{%- endfor -%}
{%- assign post.related_rank = 'ok' -%}
|r:{{ post.related_rank }}|c:{{ category }}

{%- for tag in tags -%}
{%- if post.tags contains tag -%}
{%- assign post.rank = post.rank | plus: 1 -%}
{%- endif -%}
{%- endfor -%}

{%- if post.path != page.path and post.title -%}
{%- assign posts = posts | push: post -%}
{%- endif -%}
{%- endcomment -%}

{%- comment -%}
{%- assign c = categories | concat: post.categories | uniq | compact -%}
{%- assign t = tags | concat: post.tags | uniq | compact -%}
{%- if post.categories.size == categories.size and c.size === categories.size and post.tags.size == tags.size and t.size === tags.size and post.path != page.path and post.title -%}
{%- assign posts = posts | push: post -%}
{%- endif -%}


{%- if include.limit and posts.size > include.limit -%}
{%- break -%}
{%- endif -%}
{%- endcomment -%}

{%- endfor -%}

{%- comment -%}
{%- assign posts = posts | sort: 'rank', 'last' -%}
{%- endcomment -%}

{%- if include.limit -%}
{%- assign posts = posts | limit: include.limit -%}
{%- endif -%}

{%- endif -%}
