
{%- assign doc = include.doc | default: page -%}

{%- if include.path -%}
{%- assign doc = site.documents | concat: site.pages | where: 'path', include.path | first -%}
{%- elsif include.url -%}
{%- assign doc = site.documents | concat: site.pages | where: 'url', include.url | first -%}
{%- endif -%}

{%- if doc -%}

{%- assign collection = include.collection | default: doc.collection | default: 'pages' -%}

{%- assign _docs = site[collection] | default: site.pages -%}

{%- if lang and doc.translation_ref and doc.lang != lang -%}
{%- assign local_doc = _docs | where: 'translation_ref', doc.translation_ref | where: 'lang', lang  | first -%}
{%- assign doc = local_doc | default: doc -%}
{%- assign url = doc.url -%}
{%- endif -%}

{% endif %}

{%- assign url = url | default: include.url -%}
