
{%- assign id = 0 -%}
{%- assign docs_strings = '' | split: ' ' -%}

{%- assign ref_key = include.ref_key | default: 'id' -%}

{%- if include.keys -%}
{%- assign keys = include.keys -%}
{%- else -%}
{%- assign collection_labels = 'pages authors' | split: ' ' -%}
{%- assign collection_labels = site.collections | map: 'label' | concat: collection_labels -%}
{%- assign keys = 'collection title categories tags author description excerpt content' | split: ' ' | concat: collection_labels -%}
{%- endif -%}
{%- assign keys = keys | push: ref_key | uniq | compact -%}


{%- for doc in include.docs -%}

{%- if doc[ref_key] == nil -%}
{%- continue -%}
{%- endif -%}

{%- assign doc_strings = '' | split: ' ' -%}

{%- for key in keys -%}
{%- if doc[key] != nil and doc[key].size !=0 -%}
{%- capture doc_string -%}
"{{ key }}":{{ doc[key] | strip_html | strip_newlines | normalize_whitespace | jsonify }}
{%- endcapture -%}
{%- assign doc_strings = doc_strings | push: doc_string -%}
{%- endif -%}
{%- endfor -%}


{%- if doc_strings.size !=0 -%}

{%- capture doc_string -%}{{ ref_key | jsonify }}:{{ doc[ref_key] | jsonify }}{%- endcapture -%}
{%- assign doc_strings = doc_strings | push: doc_string -%}

{%- comment -%}
{%- capture preview -%}
<div class="{% include partials/post-tag-filter-classes.html post=doc %}">
  <input type="radio" id="flipcard_position_{{ doc.url | slugify: 'default' }}" name="flipcard_position" value="{{ doc.url }}" class="flipcard-position d-none" data-storage="false" />
  <div class="card flipcard m-1">
    {%- if doc.weight > 0 -%}{%- assign class = 'card-position-absolute bg-primary text-white' -%}{%- else -%}{%- assign class = 'card-position-absolute bg-white' -%}{%- endif -%}
    {%- include bootstrap-components/card.html face="front" post=doc class=class img-class="card-img-faded card-img-grayscale" title-class="h2 font-weight-bold" -%}
    {%- include bootstrap-components/card.html face="back" post=doc class="bg-white text-dark" -%}
  </div>
</div>
{%- endcapture -%}
{%- capture doc_string -%}"preview":{{ preview | jsonify }}{%- endcapture -%}
{%- assign doc_strings = doc_strings | push: doc_string -%}
{%- endcomment -%}


{%- assign doc_strings = doc_strings | push: doc_string -%}
{%- assign doc_strings = doc_strings | join: ',' | prepend: '{' | append: '}' -%}
{%- assign docs_strings = docs_strings | push: doc_strings -%}

{%- endif -%}


{%- assign id = id | plus: 1 -%}
{%- endfor -%}

{%- if docs_strings.size != 0 -%}
{{ docs_strings | join: ',' | prepend: '[' | append: ']' }}
{%- endif -%}
