{%- assign array = '' | split: ' ' -%}
{%- assign categories = include.categories | default: page.related.categories | default: page.categories | default: array | compact | uniq -%}
{%- assign tags = include.tags | default: page.related.tags | default: page.tags | default: array | compact | uniq -%}
{%- assign type = include.collection | default: page.related.collection | default: page.collection | default: 'pages' -%}
{%- assign keys = 'collection' | split: ' ' -%}
{%- assign keys = include.keys | default: keys -%}
{%- assign posts = array -%}

{%- if site[type] -%}
{%- assign documents = site[type] -%}
{%- else -%}
{%- assign documents = site.pages -%}
{%- endif -%}

{%- if documents.first -%}
{%- for document in documents -%}

{%- assign match = true -%}

{%- for key in keys -%}

{%- assign good_value = include[key] | default: page.related[key] | default: page[key] -%}
{%- assign value = document[key] -%}

{%- if value.first and good_value.first -%}
{%- assign good_value = good_value | compact | uniq -%}
{%- if value.size == good_value.size -%}
{%- assign values = value | concat: good_value | compact | uniq -%}
{%- if values.size != good_value.size -%}
{%- assign match = false -%}
{%- endif -%}
{%- else -%}
{%- assign match = false -%}
{%- endif -%}
{%- elsif value != good_value -%}
{%- assign match = false -%}
{%- endif -%}

{%- endfor -%}

{%- if match == true -%}
{%- assign posts = posts | push: document -%}
{%- endif -%}

{%- endfor -%}

{%- if include.limit -%}
{%- assign posts = posts | limit: include.limit -%}
{%- endif -%}

{%- endif -%}
