{%- if page.features.comments != false -%}

{%- assign config = page.comments_toggler -%}
{%- assign target = '#comments' -%}
{%- assign text = config.text.text | default: t.comments -%}
{%- assign title = config.title | default: t.toggle_comments -%}
{%- assign class = config.class | default: 'btn btn-secondary' | append: page.bottom_navbar.button.extra_class -%}
{%- assign icon_class = config.icon.class | default: 'fa-comments' | append: page.bottom_navbar.icon.extra_class -%}
{%- assign badge_text = '' -%}
{%- assign badge_class = config.badge.class | default: 'disqus-comment-count badge badge-primary badge-pill' -%}
{%- capture badge_attributes -%}data-disqus-identifier="{{ page.url }}"{%- endcapture -%}

{%- include bootstrap-components/toggler.html
   element=page.bottom_navbar.button.element
   class=class
   target='#comments'
   toggle='collapse'
   text=text
   title=title
   icon_class=icon_class
   text_class=config.text.class
   badge_text='' badge_class=badge_class badge_attributes=badge_attributes
-%}

{%- endif -%}
