{%- if include.posts -%}
<div {% if include.id %}id="{{ include.id }}"{% endif %} class="d-flex flex-row flex-wrap" {{ include.attributs }}>
  {%- for post in include.posts -%}
  {%- if post.url and post.title -%}
  {%- capture item_attributes -%}{{ include.item_attributes }} {% if page.lunr.ref and post[page.lunr.ref] %}data-lunr-ref="{{ post[page.lunr.ref] }}"{% endif %}{% endcapture %}

  <div class="{%- include partials/post-tag-filter-classes.html post=post -%}" {{ item_attributes }}>
    <input type="radio" id="flipcard_position_{{ post.url | slugify: 'default' }}" name="flipcard_position" value="{{ post.url }}" class="flipcard-position d-none" data-local-storage="false" />
    <div class="card flipcard m-1">
      {%- if post.weight > 0 -%}
      {%- assign class = 'card-position-absolute bg-primary text-white' -%}
      {%- else -%}
      {%- assign class = 'card-position-absolute bg-white' -%}
      {%- endif -%}
      {%- include bootstrap-components/card.html face="front" post=post class=class img-class="card-img-faded card-img-grayscale" title-class="h2 font-weight-bold" -%}
      {%- include bootstrap-components/card.html face="back" post=post class="bg-white text-dark" -%}
    </div>
  </div>
  {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}
