
{%-  assign id = include.id | default: 'accordion' -%}

{%- if include.posts -%}
<div id="{{ id }}" class="{{ include.class }}" role="tablist" {{ include.attributs }}>

  {%- for post in include.posts -%}
  {%- if post.title -%}

  {%- capture item_attributes -%}{{ include.item_attributes }} {% if page.lunr.ref and post[page.lunr.ref] %}data-lunr-ref="{{ post[page.lunr.ref] }}"{% endif %}{% endcapture %}

  {% if page.show_first and forloop.index == 0 %}
  {%- assign collapsed = '' -%}
  {%-  assign aria_expanded = 'true' -%}
  {%- assign show = 'show' -%}
  {% else %}
  {%- assign collapsed = 'collapsed' -%}
  {%- assign aria_expanded = 'false' -%}
  {%- assign show = '' -%}
  {% endif %}

  <div class="card w-100 mb-3 {{ post.card.class | default: include.card_class }}" {{ item_attributes }}>
    <div class="card-header {{ collapsed }}" role="tab" id="{{ id }}_header_{{ forloop.index }}" data-toggle="collapse" data-target="#{{ id }}_collapse_{{ forloop.index }}" aria-expanded="{{ aria_expanded }}" aria-controls="{{ id }}_collapse_{{ forloop.index }}">
      <i class="fas fa-caret-right fa-lg fa-fw float-right"></i>
      <i class="fas fa-caret-down fa-lg fa-fw float-right"></i>
      {%- include modules/filters/user-selection-checkbox.html -%}
      <h5 class="mb-0">
        {%- if post.icon or include.icon_fa -%}
        {%- assign icon = include.icon_fa | default: post.icon.fa -%}
        <span class="{{ icon }} mr-2"></span>
        {%- endif -%}
        {%- if post.icon or include.icon_oi -%}
        {%- assign icon = include.icon_oi | default: post.icon.oi -%}
        {%- endif -%}
        {{ post.title }}
      </h5>
    </div>
    <div id="{{ id }}_collapse_{{ forloop.index }}" class="collapse {{ show }}" role="tabpanel" aria-label="{{ id }}_header_{{ forloop.index }}" data-parent="#{{ include.id | default: 'accordion' }}">
      <div class="card-body">
        <div class="card-text">{{ post.content | strip_newlines }}</div>
      </div>
    </div>
  </div>
  {%- endif -%}
  {%- endfor -%}

</div>
{%- endif -%}
