
{%- assign metas = include.keys | default: page.filters.keys -%}
{%- unless metas.size -%}
{%- assign metas = site.collections | map: 'label' | sort_natural -%}
{%- endunless -%}


{%- if metas.size > 0 -%}
<form class="radio-glyphicon checkbox-success" action="." method="get" -data-persist="garlic">

  {%- include bootstrap-components/input-form-group.html type='search' id='search-input' input_class='searchbox search-filter' placeholder=t.search_placeholder class=include.class attributes='name="query"'-%}

  {%- for key in metas -%}
  <div class="form-group">
    {%- assign collection = site.collections | where: 'label', key | first -%}
    <label for="{{ key }}_filter">{{ collection.title | default: t[key] | default: key }}
      <select id="{{ key }}_filter" data-filter="{{ key }}" data-placeholder="{{ collection.title | default: t[key] | default: key }}" name="{{ key }}[]" class="select2 filter" multiple="multiple">
        {%- assign docs = site[key] -%}
        {%- for doc in docs -%}
          <option value="{{ doc.slug }}">{{ doc.title }}</option>
        {%- endfor -%}
      </select>
    </label>
  </div>
  {%- endfor -%}
  <div class="form-group">
    <label>
      <input type="checkbox" class="selection-filter" name="selection-filter" />
      {{ t.my_selection }}
    </label>
  </div>
  <div class="btn-group btn-group-justified" role="group" aria-label="">
    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-filter"></span> Filter</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary filter-reset"><span class="glyphicon glyphicon-remove"></span> Reset</button>
    </div>
  </div>
</form>
{%- endif -%}
