{%- comment -%}
{%- include bootstrap-components/input-form-group.html type='search' id='search-input' input_class='searchbox search-filter' placeholder=t.search_placeholder class=include.class _attributes='name="query"'-%}
{%- endcomment -%}

{%- assign id = 'search-input' -%}
{%- assign option_id = 'search-field' -%}
{%- assign fields = page.lunr.fields -%}

<div class="form-group {{ include.container_class }}">
  <div class="input-group">

    {%- if include.label -%}
    <label for="{{ id }}">{{ t.search }}</label>
    {%- endif -%}

    <input type="search" id="{{ id }}" class="form-control searchbox search-filter lunr-search-input" aria-describedby="{{ id | append: '_description' }}" placeholder="{{ t.search_placeholder }}" name="query" data-local-storage-namespace="{{ page.url }}">

    {%- if include.description -%}
    <small id="{{ id | append: '_description' }}" class="form-text text-muted">{{ include.description }}</small>
    {%- endif -%}

    {%- if fields.first -%}
    <div class="input-group-append">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu p-2">
        {%- comment -%}
        <div class="custom-control custom-checkbox">
          <input type="radio" class="custom-control-input lunr-field" id="{{ option_id | append: '-all' }}" name="search-fields" value="" checked="checked">
          <label class="custom-control-label" for="{{ option_id | append: '-all' }}">{{ t.all }}</label>
        </div>
        {%- endcomment -%}
        {%- for value in fields -%}
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input lunr-field" id="{{ option_id | append: '-' | append: value }}" name="search-fields" value="{{ value }}" data-lunr-field="{{ value }}" data-local-storage-namespace="{{ page.url }}"  checked>
          <label class="custom-control-label" for="{{ option_id | append: '-' | append: value }}">{{ t[value] | default: value }}</label>
        </div>
        {%- endfor -%}
      </div>
    </div>
    {%- endif -%}

  </div>
</div>
