{%- if post.features.selection != false -%}
<div class="-btn-group-toggle custom-control custom-checkbox" -data-toggle="buttons" title="{{ t.add_to_selection }}">
  <input
    class="custom-control-input"
    type="{{ include.type | default: 'checkbox' }}"
    id="selection_{{ post.url | slugify: 'default' }}"
    name="selection" value="{{ post.url }}"
    data-local-storage="true"
    autocomplete="off" />
  <label for="selection_{{ post.url | slugify: 'default' }}" class="-btn -btn-secondary custom-control-label d-block"></label>
</div>
{%- endif -%}
