<footer>

  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  {%- assign config = page.bottom_navbar -%}
  {%- if config.modules and config.modules.size > 0 -%}
  <nav id="bottom-navbar" class="{{ config.class | default: 'navbar navbar-light bg-light' }} {{ config.position }}">
    {%- for path in config.modules -%}
    {%- include {{ path }} -%}
    {%- endfor -%}
  </nav>
  {%- endif -%}

  {%- if page.features.back_to_top != false -%}
  {%- include modules/nav/back-to-top-link.html-%}
  {%- endif -%}

</footer>
