{%- assign config = page.features -%}
{%- assign post = include.post | default: page -%}
{%- assign item_class = include.item_class | default: 'list-inline-item' -%}

<ul class="{{ include.container_class | default: 'list-unstyled list-inline small text-muted' }}">

  {%- if config.date -%}
  {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
  <li class="{{ item_class }}">
    <time class="dt-published" {%- unless post -%}datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"{%- endunless -%}>
      {{ post.date | default: page.date | date: date_format }}
    </time>
  </li>
  {%- endif -%}

  {%- if config.author -%}
  <li class="{{ item_class }}">
    <span {%- unless post -%}itemprop="author" itemscope itemtype="http://schema.org/Person"{%- endunless -%}>
      <span class="p-author h-card" {%- unless post -%}itemprop="name"{%- endunless -%}>{{ post.author | default: page.author }}</span>
    </span>
  </li>
  {%- endif -%}

  {%- if config.categories -%}
  <li class="{{ item_class }}">
  {%- assign categories = post.categories | default: page.categories -%}
  {%- include bootstrap-components/badges.html badges=categories class="list-inline m-0" item_class="badge badge-secondary" -%}
  </li>
  {%- endif -%}

  {%- if config.tags -%}
  <li class="{{ item_class }}">
  {%- assign tags = post.tags | default: page.tags -%}
  {%- include bootstrap-components/badges.html badges=tags class="list-inline m-0" item_class="badge badge-light" -%}
  </li>
  {%- endif -%}

</ul>
