{%- if page.features.nav != false -%}
<div class="modal fade" id="nav" tabindex="-1" role="dialog" aria-labelledby="nav_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered -modal-dialog-fullscreen" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="nav_title">{{ t.navigation }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body display-4">
        {%- include modules/sidebar/vertical-primary-nav.html -%}
      </div>
      <div class="modal-footer border-top-0">
      </div>
    </div>
  </div>
</div>
{%- endif -%}
