{%- if page.settings.modules.first -%}
<div id="settings" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form data-persist="garlic">
        <div class="modal-header -border-0">
          {% comment %}<h5 class="modal-title">{{ t.settings }}</h5>{% endcomment %}
          <ul class="nav nav-pills -nav-tabs" id="settingsTab" role="tablist">
            {%- if page.features.multilingual != false -%}
            <li class="nav-item">
              <a class="nav-link active" id="display-tab" data-toggle="tab" href="#display-settings" role="tab" aria-controls="display-settings" aria-selected="true">{{ t.display }}</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" id="user-profile-tab" data-toggle="tab" href="#user-profile-settings" role="tab" aria-controls="user-profile-settings" aria-selected="false">{{ t.profile }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="product-tab" data-toggle="tab" href="#product-settings" role="tab" aria-controls="product-settings" aria-selected="false">{{ t.shopping }}</a>
            </li>
            {%- if page.features.speech_synthesis != false -%}
            <li class="nav-item">
              <a class="nav-link" id="speech-tab" data-toggle="tab" href="#speech-settings" role="tab" aria-controls="speech-settings" aria-selected="false">{{ t.speech }}</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" id="reset-tab" data-toggle="tab" href="#reset-settings" role="tab" aria-controls="reset-settings" aria-selected="false">{{ t.reset }}</a>
            </li>
          </ul>
          <button type="button" class="close" data-dismiss="modal" aria-label="{{ t.close }}"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="tab-content" id="settingsTabContent">
            <div class="tab-pane fade show active" id="display-settings" role="tabpanel" aria-labelledby="base-tab">
              {%- include modules/settings/language.html attributes='' class="mb-3" -%}
            </div>
            <div class="tab-pane fade" id="user-profile-settings" role="tabpanel" aria-labelledby="user-profile-tab">
              {%- include modules/settings/user-profile-settings.html class="mb-3" -%}
            </div>
            <div class="tab-pane fade" id="product-settings" role="tabpanel" aria-labelledby="product-tab">
              {%- include modules/settings/product-settings.html class="mb-3" -%}
            </div>
            <div class="tab-pane fade" id="speech-settings" role="tabpanel" aria-labelledby="speech-tab">
              {%- include modules/settings/speech-synthesis-settings.html class="mb-3" -%}
            </div>
            <div class="tab-pane fade" id="reset-settings" role="tabpanel" aria-labelledby="reset-tab">
              {%- include modules/settings/reset-settings.html class="mb-3" -%}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          {%- comment -%}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t.cancel }}</button>
          <button type="submit" class="btn btn-primary">{{ t.apply }}</button>
          {%- endcomment -%}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t.close }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{%- endif -%}
