{%- if page.tips.modules.first -%}
<div id="tips" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ t.tips }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ t.close }}"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {%- if page.tips.modules.first -%}
        {%- assign config = page.tip_link -%}
        {%- for path in page.tips.modules -%}
        {%- include {{ path }} class="mb-3" -%}
        {%- endfor -%}
        {%- endif -%}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning pull-left destroy-local-storage"><span class="glyphicon glyphicon-warning-sign"></span>{{ t.reset_everything }}</button>
        <button type="button" class="btn btn-secondary hidden" data-dismiss="modal">{{ t.close }}</button>
        <button type="submit" class="btn btn-primary hidden">{{ t.save }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ t.ok }}</button>
      </div>
    </div>
  </div>
</div>
{%- endif -%}
