<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="theme-color" content="{{ site.web_app_manifest.theme_color | default: '#ffffff' }}">
  <meta name="msapplication-config" content="{{ '/assets/browserconfig.xml' | relative_url }}" />

  {%- comment -%}
  {%- if site.webmaster_verifications.google -%}<meta name="google-site-verification" content="{{ site.webmaster_verifications.google }}" />{%- endif -%}
  {%- if site.webmaster_verifications.bing -%}<meta name="msvalidate.01" content="{{ site.webmaster_verifications.bing }}" />{%- endif -%}
  {%- if site.webmaster_verifications.yandex -%}<meta name="yandex-verification" content="{{ site.webmaster_verifications.yandex }}" />{%- endif -%}
  {%- if site.webmaster_verifications.alexa -%}<meta name="alexaVerifyID" content="{{ site.webmaster_verifications.alexa }}" />{%- endif -%}
  {%- endcomment -%}

  {%- seo -%}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/brand/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/assets/images/brand/favicon-32x32.png' | relative_url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ '/assets/images/brand/favicon-16x16.png' | relative_url }}" sizes="16x16">
  <link rel="manifest" href="{{ '/assets/manifest.json' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/images/brand/safari-pinned-tab.svg' | relative_url }}" color="{{ site.theme_color | default: '#ffffff' }}">


  {%- capture criticalcss -%}
  {%- include styles/critical.scss -%}
  {%- endcapture -%}
  {%- assign criticalcss = criticalcss | strip -%}
  {%- if criticalcss.size > 0 -%}
  <style type="text/css">{{ criticalcss | scssify }}</style>
  {%- else -%}
  {%- include partials/styles.html -%}
  {%- endif -%}

  {%- feed_meta -%}

</head>
