{%- assign config = page.action_nav -%}

{%- assign class = config.button.extra_class -%}
{%- assign icon_extra_class = config.icon.extra_class -%}
{%- assign text_extra_class = config.text.extra_class -%}

{%- if config.modules and config.modules.size > 0 -%}
<ul class="nav {{ config.extra_class }}">
  {%- comment -%}
  {%- for path in config.modules -%}
  {%- include {{ path }} -%}
  {%- endfor -%}
  {%- endcomment -%}


  {%- assign config = page.nav_toggler -%}
  {%- assign icon_class = 'fa-bars' | append: ' ' | append: icon_extra_class -%}
  {%- include bootstrap-components/toggler.html
    element='li'
    target='#nav'
    text=t.navigation
    class=class
    icon_class=icon_class
    text_class=text_extra_class
    toggle='modal'
  -%}


  {%- if page.features.comments != false -%}
  {%- assign config = page.comments_toggler -%}
  {%- assign icon_class = 'fa-comments' | append: ' ' | append: icon_extra_class -%}
  {%- assign badge_text = '' -%}
  {%- assign badge_class = config.badge.class | default: 'disqus-comment-count badge badge-primary badge-pill' -%}
  {%- capture badge_attributes -%}data-disqus-identifier="{{ page.url }}"{%- endcapture -%}
  {%- include bootstrap-components/toggler.html
     element='li'
     class=class
     target='#comments'
     toggle='collapse'
     text=t.comments
     icon_class=icon_class
     text_class=text_extra_class
     badge_text='' badge_class=badge_class badge_attributes=badge_attributes
  -%}
  {%- endif -%}


  {%- if page.settings.modules.first -%}
  {%- assign config = page.settings_toggler -%}
  {%- assign icon_class = 'fa-cog' | append: ' ' | append: icon_extra_class -%}
  {%- include bootstrap-components/toggler.html
    element='li'
    target='#settings'
    toggle='modal'
    text=t.settings
    class=class
    icon_class=icon_class
    text_class=text_extra_class
  -%}
  {%- endif -%}


  {%- if page.tips.modules.first -%}
  {%- assign config = page.tip_link -%}
  {%- comment -%}{%- capture target -%}{{ site.baseurl }}{% link tips.md %}{%- endcapture -%}{%- endcomment -%}
  {%- assign icon_class = 'fa-question' | append: ' ' | append: icon_extra_class -%}
  {%- include bootstrap-components/toggler.html
    element='a'
    target='#tips'
    toggle='modal'
    text=t.tips
    class=class
    icon_class=icon_class
    text_class=text_extra_class
  -%}
  {%- endif -%}


  {%- if page.features.ghpages_link != false -%}
  {%- assign config = page.ghpages_link -%}
  {%- assign target = 'https://github.com/' | append: site.repository | append: '/edit/master/' | append: page.path -%}
  {%- assign icon_class = 'fa-edit' | append: ' ' | append: icon_extra_class -%}
  {%- if config.visibility != false -%}{%- endif -%}
  {%- include bootstrap-components/toggler.html
    element='a'
    target=target
    text=t.edit_on_github
    class=class
    icon_class=icon_class
    text_class=text_extra_class
  -%}
  {%- endif -%}


</ul>
{%- endif -%}
