<div class="form-group">
  <label for="favorite_makes_regions">{{ t.brand_regions }}</label>
  <select id="favorite_makes_regions" class="form-control select2" placeholder="{{ t.favorite_makes_regions }}" multiple>
  </select>
  <span class="help-block">{{ t.favorite_makes_regions_help }}</span>
</div>

<div class="form-group">
  <label for="favorite_shopping_regions">{{ t.favorite shopping regions }}</label>
  <select id="favorite_shopping_regions" class="form-control select2" placeholder="{{ t.favorite_shopping_regions }}" multiple>
  </select>
  <span class="help-block">{{ t.favorite_shopping_regions_help }}</span>
</div>
