{% if page.features.local_storage != false %}
<div class="form-group">
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" value="" id="reset-settings">
    <label class="custom-control-label" for="reset-settings">
      Restore default settings
    </label>
  </div>
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" value="" id="reset-cookie-consent">
    <label class="custom-control-label" for="reset-cookie-consent">
      Show cookie consent
    </label>
  </div>
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" value="" id="reset-messages">
    <label class="custom-control-label" for="reset-messages">
      Unhide closed messages
    </label>
  </div>
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" value="" id="reset-layout">
    <label class="custom-control-label" for="reset-layout">
      Restore page layout
    </label>
  </div>
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" value="" id="reset-definitions">
    <label class="custom-control-label" for="reset-definitions">
      Reset my learning progress
    </label>
  </div>
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input" type="checkbox" value="" id="reset-products">
    <label class="custom-control-label" for="reset-products">
      Unselect my selected articles/products
    </label>
  </div>
</div>

<div class="form-group">
  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" name="reset-scope" id="reset-scope-0" value="0" checked>
    <label class="custom-control-label" for="reset-scope-0">
      For this page only
    </label>
  </div>
  <div class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" name="reset-scope" id="reset-scope-1" value="1">
    <label class="custom-control-label" for="reset-scope-1">
      Globaly
    </label>
  </div>
</div>

{% comment %}<button type="button" class="btn btn-warning pull-left destroy-local-storage"><span class="glyphicon glyphicon-warning-sign"></span>{{ t.reset_everything }}</button>{% endcomment %}
{% endif %}
