<form data-persist="garlic">
    <div class="form-group">
        <label for="user_country_code">
            {{ t.country }}
            <select id="user_country_code" class="form-control select2" data-placeholder="Website" title="Some dealers have multiple local websites. Display the approprate link.">
                <option value="" selected=""></option>

            </select>
        </label>
        <span class="help-block">This will be used to show you the appropriate links instead of the default intenational / English links.</span>
    </div>
</form>
