<div class="form-group">
  <label for="user_languages">{{ t.languages }}</label>
  <select id="user_languages" class="form-control select2" placeholder="{{ t.languages }}" multiple>
  </select>
  <span class="help-block">{{ t.user_languages_help }}</span>
</div>

<div class="form-group">
  <label for="user_gender">{{ t.gender }}</label>
  <select id="user_gender" class="form-control select2" placeholder="{{ t.gender }}">
  </select>
  <span class="help-block">{{ t.user_gender_help }}</span>
</div>

<div class="form-group">
  <label for="user_country">{{ t.country }}</label>
  <select id="user_country" class="form-control select2" placeholder="{{ t.country }}">
  </select>
  <span class="help-block">{{ t.user_country_help }}</span>
</div>
