
{%-  assign id = include.id | default: 'accordion' -%}

{%- if include.posts -%}
<div id="{{ id }}" role="tablist" {{ include.attributs }}>

  {%- for post in include.posts -%}
  {%- if post.title -%}

  {%- capture item_attributes -%}{{ include.item_attributes }} {% if include.ref_key and post[include.ref_key] %}data-ref="{{ post[include.ref_key] }}"{% endif %}{% endcapture %}

  <div class="card mb-3 {{ post.card.class | default: include.card_class }}" {{ item_attributes }}>
    <div class="card-header" role="tab" id="{{ id }}_header_{{ forloop.index }}" data-toggle="collapse" data-target="#{{ id }}_collapse_{{ forloop.index }}" {%- if forloop.index == 0 -%}aria-expanded="true"{%- endif -%} aria-controls="{{ id }}_collapse_{{ forloop.index }}">
      <i class="fas fa-caret-right fa-lg fa-fw float-right"></i>
      <i class="fas fa-caret-down fa-lg fa-fw float-right"></i>
      <h5 class="mb-0">
        {%- if post.icon or include.icon_fa -%}
        {%- assign icon = include.icon_fa | default: post.icon.fa -%}
        <span class="{{ icon }} mr-2"></span>
        {%- endif -%}
        {%- if post.icon or include.icon_oi -%}
        {%- assign icon = include.icon_oi | default: post.icon.oi -%}
        {%- endif -%}
        {{ post.title }}
      </h5>
    </div>
    <div id="{{ id }}_collapse_{{ forloop.index }}" class="collapse {%- if forloop.index == 0 -%}show{%- endif -%}" role="tabpanel" aria-label="{{ id }}_header_{{ forloop.index }}" data-parent="#{{ include.id | default: 'accordion' }}">
      <div class="card-body">
        <p class="card-text">{{ post.content | strip_newlines }}</p>
      </div>
    </div>
  </div>
  {%- endif -%}
  {%- endfor -%}

</div>
{%- endif -%}
