{%- if include.posts -%}
<div {% if include.id %}id="{{ include.id }}"{% endif %} class="list-group list-group-flush" {{ include.attributs }}>
  {%- for post in include.posts -%}

  {%- capture item_attributes -%}{{ include.item_attributes }} {% if include.ref_key and post[include.ref_key] %}data-ref="{{ post[include.ref_key] }}"{% endif %}{% endcapture %}

  <a class="list-group-item list-group-item-action flex-column align-items-start" href="{{ post.url | relative_url }}" {{ item_attributes }}>
    <div class="d-flex w-100 justify-content-between align-items-center">
    <h5 class="mb-1">
      {%- comment -%}<a class="post-link" href="{{ post.url | relative_url }}">{%- endcomment -%}
        {{ post.title | escape }}
      {%- comment -%}</a>{%- endcomment -%}
    </h5>
    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
    <small class="text-muted">{{ post.date | date: date_format }}</small>
    </div>
    {%- if site.show_excerpts -%}
      <p class="mb-1">{{ post.excerpt }}</p>
    {%- endif -%}
  </a>
  {%- endfor -%}
</div>
{%- endif -%}
