
{%- if page.features.edit_on_github != false -%}

{%- assign config = page.edit_on_github_link -%}
{%- assign target = 'https://github.com/' | append: site.repository | append: '/edit/master/' | append: page.path -%}
{%- assign text = config.text.text | default: t.edit_on_github -%}
{%- assign class = config.class | default: 'btn btn-secondary' -%}
{%- assign icon_class = config.icon.class | default: 'fas fa-edit fa-lg fa-fw' -%}

{%- if config.visibility != false -%}{%- endif -%}
{%- include bootstrap-components/link.html target=target text=text class=class icon_class=icon_class text_class=config.text.class -%}

{%- endif -%}
