{%- include helpers/related-documents.html limit=15 -%}
{%- assign posts = return -%}
{%- if posts.size > 0 -%}
<div class="btn-group ml-2">
  <button type="button" class="navbar-toggler" id="related_posts-dropdown" data-toggle="dropdown" title="{{ t.continue }}" aria-haspopup="true" aria-expanded="false" aria-label="{{ t.continue }}">
    <i class="fas fa-chevron-right fa-lg fa-fw" aria-hidden="true"></i>
    <small hidden>{{ t.continue }}</small>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    {%- include bootstrap-components/dropdown-items.html posts=posts -%}
  </div>
</div>
{%- endif -%}
