---
layout: default
---

{%- assign lang = page.lang | default: site.lang | default: "en-US" | replace: '_', '-' -%}
{%- assign t = site.data.locales[lang] | default: site.data.locales['en-US'] -%}

<article class="post">

  {%- include modules/article/header.html -%}

  <section class="post-content">
  {{ content }}
  </section>

  {%- assign keys = 'collection lang' | split: ' ' -%}
  {%- assign collection = page.document_list.collection -%}
  {%- include helpers/related-documents.html keys=keys collection=collection -%}
  {%- assign posts = return -%}

  {%- if posts -%}

  {%- if page.plugins.lunr != false -%}
  {%- capture json -%}{%- include helpers/lunr-documents.json docs=posts -%}{%- endcapture -%}
  {%- if json and json.size > 0 -%}
  <script>window.lunrStore = {{ json }};</script>
  {%- endif -%}
  <section id="search-results" class="document-list">
    <div class="d-flex flex-row flex-wrap"></div>
  </section>
  {%- endif -%}

  <section id="search-items" class="document-list">
    {%- include {{ page.document_list.module | default: 'modules/document-list/document-list-group.html' }} posts=posts -%}
    <input type="radio" id="flipcard_position_none" name="flipcard_position" value="none" class="d-none" checked />
  </section>

  {%- endif -%}

  {%- include modules/article/footer.html -%}

</article>
