---
layout: default
---

{%- assign lang = page.lang | default: site.lang | default: "en-US" | replace: '_', '-' -%}
{%- assign t = site.data.locales[lang] | default: site.data.locales['en-US'] -%}

{{ content }}

<section>
{%- include bootstrap-components/jumbotron.html -%}
</section>

{%- if site.posts.size > 0 -%}
<section>
  <h2 class="post-list-heading">{{ page.list_title | default: t.last_posts }}</h2>
  {%- assign posts = site.posts | sort: 'date', 'last' | limit: 3 -%}
  {%- include {{ page.post_preview.module | default: 'modules/post-list/post-list-group.html' }} posts=posts -%}
</section>
{%- endif -%}
