---
layout: default
---

{%- assign lang = page.lang | default: site.lang | default: "en-US" | replace: '_', '-' -%}
{%- assign t = site.data.locales[lang] | default: site.data.locales['en-US'] -%}

{%- assign array = '' | split: ' ' -%}
{%- include helpers/related-posts.html -%}

<article class="post">

  {%- include modules/article/header.html -%}

  {{ content }}

  {%- if posts.size > 0 -%}
    {%- comment -%}{%- assign posts = posts | sort: 'title' | reverse | sort: 'weight' | reverse -%}{%- endcomment -%}

    {%- if page.features.lunr != false -%}
    {%- assign keys = 'collection title author description excerpt content' | split: ' ' -%}
    {%- if page.filters.keys.first -%}
    {%- assign keys = keys | concat: page.filters.keys -%}
    {%- endif -%}
    {%- capture json -%}{%- include helpers/lunr-store.html docs=posts ref_key='id' keys=keys -%}{%- endcapture -%}
    {%- if json and json.size > 0 -%}
    <script>window.lunrStore = {{ json }};</script>
    {%- endif -%}
    <div id="search-results" class="post-list d-flex flex-row flex-wrap"></div>
    {%- endif -%}

    {%- include {{ page.post_preview.module | default: 'modules/post-list/post-list-group.html' }} posts=posts id='search-items' ref_key='id' -%}

    {%- comment -%}{%- include modules/post-list/search-results.html posts=posts ref_key="url" -%}{%- endcomment -%}

    <input type="radio" id="flipcard_position_none" name="flipcard_position" value="none" class="d-none" checked />

  {%- endif -%}

  {%- include modules/article/footer.html -%}

</article>


{%- comment -%}
<script type="application/ld+json">
{%- include structured-data/item-list.html collection=page.collection -%}
</script>
{%- endcomment -%}
