---
layout: default
---

{%- assign lang = page.lang | default: site.lang | default: "en-US" | replace: '_', '-' -%}
{%- assign t = site.data.locales[lang] | default: site.data.locales['en-US'] -%}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    {%- include modules/article/header.html -%}

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- include modules/article/footer.html -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
