// @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css";

.spinner {
  perspective: initial;
  position: relative;
  visibility: hidden;

  &.fa-spinner::before {
    animation: fa-spin 1s infinite steps(8);
  }

  &::before {
    animation: fa-spin 2s infinite linear;
    bottom: 0;
    display: block;
    font-size: 40vh;
    height: 40vh;
    left: 0;
    margin: auto;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible;
    width: 40vh;
  }

  &.spinner-bg::after {
    align-items: center;
    bottom: 0;
    content: '';
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: -1;
  }

  &.spinner-fullscreen::before {
    position: fixed;
  }

  &.spinner-fullscreen::after {
    height: 100vh;
    position: fixed;
    width: 100vw;
  }

}

// Customizing example
//.spinner.spinner-bg::before,
//.spinner.spinner-bg::after {
//  color: #ff0073;
//}
//
//.spinner.spinner-bg::after {
//  content: "LOADING";
//  background-image: url(https://www.transparenttextures.com/patterns/grunge-wall.png);
//  font-size: 15vh;
//  text-shadow: 0 0 5vh;
//  font-weight: 900;
//  animation: 150s scroll infinite linear;
//}
//
//@keyframes scroll {
//  100%{
//    background-position: 0px 3000px;
//  }
//}
