
{%- if include.author -%}
{%- if include.author == 'site' -%}
{%- assign config = site -%}
{%- else -%}
{%- assign config = site.data.authors[include.author] -%}
{%- endif -%}
{%- else -%}
{%- assign config = site.data.authors[page.author] -%}
{%- endif -%}

{%- assign brands = 'dribbble facebook flickr github instagram linkedin mastodon pinterest twitter youtube google_plus gravatar rss' | split: ' ' -%}
{%- assign brands = include.brands | default: brands -%}

{%- assign item_class = include.item_class | default: 'nav-item' -%}
{%- assign link_class = include.link_class | default: 'nav-link' -%}
{%- assign icon_class = include.icon_class | default: 'fab fa-fw fa-lg' -%}
{%- assign text_class = include.text_class -%}

{%- if include.icon_only -%}
{%- assign text_class = text_class | append: ' d-none' -%}
{%- endif -%}

{%- if brands.size -%}
<ul class="{{ include.class | default: 'nav' }}" {{ include.attributes }}>
{%- for brand in brands -%}

{%- if brand == 'dribbble' and config.dribbble -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://dribbble.com/{{ config.dribbble | cgi_escape | escape }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-dribbble {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ config.dribbble | escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'facebook' and config.facebook -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://www.facebook.com/{{ config.facebook | cgi_escape | escape }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-facebook {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ config.facebook | escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'flickr' and config.flickr -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://www.flickr.com/photos/{{ config.flickr | cgi_escape | escape }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-flickr {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ config.flickr| escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'github' and config.github -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://github.com/{{ config.github | cgi_escape | escape }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-github {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ config.github | escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'instagram' and config.instagram -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://www.instagram.com/{{ config.instagram | cgi_escape | escape }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-instagram {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ config.instagram | escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'linkedin' and config.linkedin -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://www.linkedin.com/in/{{ config.linkedin | cgi_escape | escape }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-linkedin {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ config.linkedin | escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'pinterest' and config.pinterest -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://www.pinterest.com/{{ config.pinterest | cgi_escape | escape }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-pinterest {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ config.pinterest | escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'twitter' and config.twitter -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://twitter.com/{{ config.twitter | cgi_escape | escape }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-twitter {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ config.twitter | escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'youtube' and config.youtube -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://www.youtube.com/{{ config.youtube | cgi_escape | escape }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-youtube {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ config.youtube | escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'google_plus' and config.google_plus -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://plus.google.com/{{ config.google_plus | escape }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-google-plus {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ config.google_plus | escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'gravatar' and config.gravatar -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://www.gravatar.com/{{ config.gravatar | escape }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-wordpress {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ config.gravatar | escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'rss' and config.rss -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="{{ 'feed.xml' | relative_url }}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-rss {{ icon_class }}"></i>
<span>{{ config.rss | escape }}</span>
</a>
</li>
{%- endif -%}

{%- if brand == 'mastodon' -%}
{%- for mst in config.mastodon -%}{%- if mst.username and mst.instance -%}
<li class="{{ item_class }}" {{ include.item_attributes }}>
<a href="https://{{ mst.instance | cgi_escape | escape}}/@{{mst.username}}" class="{{ link_class }}" {{ include.link_attributes }}>
<i class="fa-mastodon {{ icon_class }}"></i>
<span class="{{ text_class }}">{{ mst.username | escape }}</span>
</a>
</li>
{%- endif -%}
{%- endfor -%}
{%- endif -%}

{%- endfor -%}
</ul>
{%- endif -%}
